<!doctype html>
<html lang="fr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block stylesheets %}

    <link href="https://bootswatch.com/5/simplex/bootstrap.min.css" rel="stylesheet">
     
   {% endblock %}
    <title>{% block title %}Cactus Esport - {% endblock %}</title>
  </head>
  <body>
   

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('index')}}">Cactus Esport</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav nav-fill me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('shop')}}">Shop</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="{{path('teams')}}">Nos équipes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="{{path('news')}}">Actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{path('about')}}">Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{path('contact')}}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    {% for message in app.flashes('notice') %}
     <h2 class="alert alert-warning text-center" role="alert">
      {{ message }}
      </h2>
    {% endfor %}



    {% block body %}
    
    {% block footer %}

    <footer class="container">
      <p class="float-end"><a href="#">Revenir en haut de page</a></p>
      <p>&copy; 2021–2022 Cactus Esport. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="{{path('join')}}">Rejoignez-nous !</a> &middot; <a href="{{path('contact')}}">Contactez-nous</a></p>
    </footer>

    {% endblock %}

    {% endblock %} 
   
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>

    {% endblock %}
  </body>
</html> 