{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Rejoignez-nous !{% endblock %}

{% block body %}
<h2 class="text-primary text-center"><u>Rejoignez-nous !</u></h2>    

<div class="container m-6">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5 class="text-light text-center">Pour s'investir bénévolement chez Cactus Esport, remplissez le formulaire ci-dessous en renseignant la référence de l'offre de recrutement (si c'est une candidature spontanée, renseigner 000000).</h5>

                {{form_start(form)}}

                {{form_label(form.email, 'Votre adresse-mail', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.email, {'attr':{'class':'form-control text-light', 'placeholder':'Votre adresse-mail','maxlength':'80', 'type':'email'}})}}

                {{form_label(form.nom, 'Votre nom', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.nom, {'attr':{'class':'form-control text-light', 'placeholder':'Votre nom', 'maxlength':'50', 'required pattern':'^[A-Za-z \'-]+$'}})}}

                {{form_label(form.prenom, 'Votre prénom', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.prenom, {'attr':{'class':'form-control text-light', 'placeholder':'Votre prénom', 'maxlength':'50', 'required pattern':'^[A-Za-z \'-]+$'}})}}

                {{form_label(form.telephone, 'Votre numéro de téléphone', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.telephone, {'attr':{'class':'form-control text-light', 'placeholder':'Votre numéro de téléphone', 'type':'number', 'min':'1', 'max':'1000000000', 'oninvalid':'this.setCustomValidity(\'Veuillez entrer un numéro de téléphone valide !\')' }})}}

                {{form_label(form.reference, 'Référence du recrutement (6 numéros)', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.reference, {'attr':{'class':'form-control text-light', 'placeholder':'Référence','min':'100000', 'max':'999999', 'oninvalid':'this.setCustomValidity(\'Veuillez entrer une référence valide !\')'}})}}

                {{form_label(form.texte, 'Votre message', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.texte, {'attr':{'class':'form-control text-light', 'placeholder':'Votre message'}})}}

                {{form_widget(form.bouton, {'label':"Soumettre ma candidature", 'attr':{'class':'btn bg-primary mt-3 justify-content-center'}})}}
                {{form_end(form, {render_rest: true})}} 
        </div>
    </div>
</div>       
{% endblock %}
