{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Créer un article{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Créer un article</h1>

<div class="container m-6">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                {{form_start(form)}}

                {{form_label(form.titre, 'Renseignez le titre de l\'article', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.titre, {'attr':{'class':'form-control text-light', 'placeholder':'Titre','maxlength':'100'}})}}

                {{form_label(form.chapeau, 'Rajoutez le texte chapeau', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.chapeau, {'attr':{'class':'form-control text-light', 'placeholder':'Le texte chapeau'}})}}

                {{form_label(form.mainText, 'Écrivez le texte de l\'article', {'label_attr':{'class':'fw-bold text-light'}})}}
                {{form_widget(form.mainText, {'attr':{'class':'form-control text-light', 'placeholder':'Le texte de l\'article'}})}}

                {{form_widget(form.bouton, {'label':"Poster l\'article", 'attr':{'class':'btn bg-primary mt-3 justify-content-center'}})}}
                {{form_end(form, {render_rest: true})}} 
        </div>
    </div>
</div>    

{% endblock %}
